/* إعدادات عامة */
body {
  font-family: Tahoma, Arial, sans-serif;
  direction: rtl;
  background: #f9f9f9;
  margin: 0;
  padding: 0;
}

/* الهيدر */
/* الهيدر */
header {
  background-color: #0077b6;   /* الأزرق بتاعك */
  padding: 15px 0;
}

/* الكونتينر جوا الهيدر */
.header-container {
  display: flex;
  justify-content: center;   /* يحطهم في نص الصفحة */
  align-items: center;       /* يخليهم في نفس المستوى الرأسي */
  gap: 15px;                 /* مسافة بين اللوجو والاسم */
}

/* اللوجو */
.logo {
  height:  300px;  /* تقدر تكبر/تصغر حسب مقاسك */
}
  
/* العنوان */
.header-container h1 {
  color: #fff;
  font-size: 80px;
  margin: 0;
}

/* الأقسام */
section {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

.services, .contact {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

h2 {
  color: #023e8a;
}

iframe {
  width: 100%;
  height: 300px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}

/* زر واتساب */
.whatsapp-btn {
  display: inline-block;
  margin: 15px 0;
  background: #25D366;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.whatsapp-btn:hover {
  background: #1ebe5b;
}

/* الفوتر */
footer {
  background: #0077b6;
  color: #fff;
  text-align: center;
  padding: 10px;
}
